.env

# Ignore all files except .gitkeep
jellyfin/config/*
!jellyfin/config/.gitkeep
jellyfin/cache/*
!jellyfin/cache/.gitkeep

jellyseerr/config/*
!jellyseerr/config/.gitkeep

radarr/config/*
!radarr/config/.gitkeep

sonarr/config/*
!sonarr/config/.gitkeep

prowlarr/config/*
!prowlarr/config/.gitkeep

ariang/conf/*
!ariang/conf/.gitkeep

downloads/*
!downloads/.gitkeep

